kafka/nodered_data/.flows.json.backup
[
    {
        "id": "58537460369eabf7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02c00db991791d72",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89f759fb828b3f2b",
        "type": "kafkajs-client",
        "name": "Local Kafka",
        "brokers": "kafka:9092",
        "clientid": "nodered-producer",
        "connectiontimeout": 3000,
        "requesttimeout": 25000,
        "advancedretry": false,
        "maxretrytime": 30000,
        "initialretrytime": 300,
        "factor": 0.2,
        "multiplier": 2,
        "retries": 5,
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    },
    {
        "id": "a0fa2ae6a7da56a4",
        "type": "inject",
        "z": "58537460369eabf7",
        "name": "Simulate soil_moisture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"esp32-01\",\"field_id\":\"field1\",\"timestamp\":\"2026-04-28T00:00:00Z\",\"parameter\":\"soil_moisture\",\"value\":42.5,\"unit\":\"%\"}",
        "payloadType": "json",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "b09ba8387fab3615"
            ]
        ]
    },
    {
        "id": "b09ba8387fab3615",
        "type": "function",
        "z": "58537460369eabf7",
        "name": "Validate & Route",
        "func": "const required = ['device_id', 'field_id', 'timestamp', 'parameter', 'value', 'unit'];\nconst missing = required.filter(k => \n    msg.payload[k] === undefined || \n    msg.payload[k] === null || \n    msg.payload[k] === ''\n);\n\nif (missing.length > 0) {\n    msg.topic = 'sensor.dlq';\n    msg.payload = { \n        ...msg.payload, \n        error: 'Missing fields: ' + missing.join(', '), \n        dlq_at: new Date().toISOString() \n    };\n    return [null, null, msg, msg];  // output 3 & 4 = DLQ\n}\n\nconst topicMap = {\n    'soil_moisture': 'sensor.soil_moisture',\n    'soil_temp': 'sensor.soil_temp',\n    'ambient_temp': 'sensor.ambient_temp',\n    'humidity': 'sensor.humidity',\n    'pressure': 'sensor.pressure',\n    'solar_radiation': 'sensor.solar_radiation'\n};\n\nmsg.topic = topicMap[msg.payload.parameter] || 'sensor.dlq';\nmsg.payload = JSON.stringify(msg.payload);\nreturn [msg, msg, null, null];  // output 1 & 2 = valid",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "016886d921523fe4"
            ],
            [
                "d959bac84ededf90"
            ],
            [
                "e927900ca56275f2"
            ],
            [
                "eec36e5798283528"
            ]
        ]
    },
    {
        "id": "d959bac84ededf90",
        "type": "debug",
        "z": "58537460369eabf7",
        "name": "Valid Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "eec36e5798283528",
        "type": "debug",
        "z": "58537460369eabf7",
        "name": "DLQ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "016886d921523fe4",
        "type": "kafkajs-producer",
        "z": "58537460369eabf7",
        "name": "Kafka Producer",
        "client": "89f759fb828b3f2b",
        "topic": "sensor.soil_moisture",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "e927900ca56275f2",
        "type": "kafkajs-producer",
        "z": "58537460369eabf7",
        "name": "Kafka DLQ",
        "client": "89f759fb828b3f2b",
        "topic": "sensor.dlq",
        "advancedoptions": false,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": false,
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "b476d94d5f9b71e8",
        "type": "inject",
        "z": "58537460369eabf7",
        "name": "soil_temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"esp32-01\",\"field_id\":\"field1\",\"timestamp\":\"2026-04-28T00:00:00Z\",\"parameter\":\"soil_temp\",\"value\":24.3,\"unit\":\"C\"}",
        "payloadType": "json",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b09ba8387fab3615"
            ]
        ]
    },
    {
        "id": "5e4018eaeff6321d",
        "type": "inject",
        "z": "58537460369eabf7",
        "name": "ambient_temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"esp32-01\",\"field_id\":\"field1\",\"timestamp\":\"2026-04-28T00:00:00Z\",\"parameter\":\"ambient_temp\",\"value\":28.1,\"unit\":\"C\"}",
        "payloadType": "json",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "b09ba8387fab3615"
            ]
        ]
    },
    {
        "id": "e58aad494a3b71bc",
        "type": "inject",
        "z": "58537460369eabf7",
        "name": "humidity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"esp32-01\",\"field_id\":\"field1\",\"timestamp\":\"2026-04-28T00:00:00Z\",\"parameter\":\"humidity\",\"value\":65.3,\"unit\":\"%\"}",
        "payloadType": "json",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b09ba8387fab3615"
            ]
        ]
    },
    {
        "id": "4888fb767aaea973",
        "type": "inject",
        "z": "58537460369eabf7",
        "name": "pressure",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"esp32-01\",\"field_id\":\"field1\",\"timestamp\":\"2026-04-28T00:00:00Z\",\"parameter\":\"pressure\",\"value\":1013.2,\"unit\":\"hPa\"}",
        "payloadType": "json",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "b09ba8387fab3615"
            ]
        ]
    },
    {
        "id": "76d671e87d36b8db",
        "type": "inject",
        "z": "58537460369eabf7",
        "name": "solar_radiation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device_id\":\"esp32-01\",\"field_id\":\"field1\",\"timestamp\":\"2026-04-28T00:00:00Z\",\"parameter\":\"solar_radiation\",\"value\":520,\"unit\":\"W/m2\"}",
        "payloadType": "json",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "b09ba8387fab3615"
            ]
        ]
    }
]